*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav.logo h1 {
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav .logo b {
    color: #ff511c;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17;
}

/* ========ACTIVE======== */

.nav ul .active::after{
    content: "";
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

/* ========INPUT====== */

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signin{
    background-color: transparent;
    border: none;
}

.signup{
    background-color: #ff511c;
    color: #ffff;
    outline: none;
    border: none;
    border-radius: 5px;
}

/* ======CONTENT====== */

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
}


/* #content TEXT */
/* ======LEFT_SIDE====== */

.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

/* #Content */
/* ============BUTTON=========== */

.content .content-left button{
    margin-left: 420px;
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.content .content-left button:hover{
    transform: translateY(-15px);
    background: gray;

}

/* Content IMAGE */
/* ======RIGHT============== */
.content .content-right{
    display: block;
    width: 100%;
}

.content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;
}

/* #Content */
/* =========ANIMATION========== */
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* ============CARDS===================== */

.category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.category .list-items{
    width: 90%;
    position: relative;
    margin-top: 50px;
}

.category .list-items h3{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.category .list-items .card-list{
    display: flex;
    grid-template-columns: repeat(4 1fr);
    align-items: center;
}

.category .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #ffff;
    outline: 2px solid #faad96;
    margin: 10px;
    margin-top: 30px;
}

.category .card-list .card img{
    width: 100px;
    height: auto;
    bottom: 140px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px#b16047;
    border-radius: 50%;
}

.category .card-list .card .food-title{
    padding: 40px 0 10px;
}

.category .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

.category .card .desc-food p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.category .card .price{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;    
}
/* menu */
.menu {
    background-color: rgba(255, 192, 203, 0.426);
   
}

.h1-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.h1-info p {
    padding-top: 15px;
}

.menu-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-card1 {
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 1px gray;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
    

}

.menu-card1:hover {
    transform: translateY(-15px);
    background: oldlace;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.info p {
    color: gray;
}

.info h3 {
    color: red;
    font-weight: bolder;
    font-size: 20px;
}

.info button {
    height: 30px;
    width: 100px;
    background: orangered;
    border-radius: 15px;
    border: none;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;


}

.info button:hover {
    transform: translateY(-10px);
    background: greenyellow;
}

.btn-more {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-more button {
    width: 100px;
    height: 30px;
    font-weight: bold;

}

.btn-more button:hover {
    transform: translateY(-10px);
    background: grey;
    cursor: pointer;
}


.food-head h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.picture-menu img {
    box-shadow: 2px 1px 2px gray;
}

.picture-align {
    padding-left: 90px;
    display: flex;
}

.picture-menu {
    background: gold;
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 6px 7px gray;
    border-radius: 20px;
}

.info-menu {
    padding-left: 30px;
}

.info-menu p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-menu h3 {
    font-weight: bold;
    font-size: 30px;
    color: red;
    padding-bottom: 10px;
}

.icon-menu-food {
    display: flex;
    gap: 40px;
    padding-top: 30px;
}

.two-card {
    background-color: ghostwhite;
    width: 370px;
    height: 200px;
    border-radius: 10px;
}

.two-card:hover {
    transform: translate(-15px);
    background: gray;
    cursor: pointer;
}

.card-menu1 {
    background: orangered;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon {
    padding: 10px;
}






